{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "build": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        [
          "transform-rename-import",
          { "original": "^(.*?)redux-toolbelt(.*?)/src(.*?)$", "replacement": "$1redux-toolbelt$2/lib$3" }
        ]
      ]
    }
  }
}
