language: node_js
node_js:
  - "9"
dist: trusty
sudo: required
branches:
  only:
  - master
before_install:
  - yarn install --ignore-scripts
  - yarn add --dev babel-plugin-transform-runtime
  - yarn run build
script:

